:root {
  --font-montserrat: "Montserrat", sans-serif;
  --neutral-0: #ffffff; /*белый, используется как фон*/
  --neutral-100: #FDFBF7; /* белый, используется как фон */
  --neutral-900: #333333; /* основной тёмный текст */

  /* --accent-green-100: #C0E13C; */
  --accent-red-100: #E17487;
  --accent-purple-100: #F7C5FD;
  /* --accent-yellow-100: #dee08f;
  --accent-pink-100: #fd9aae;

  --mood-purple-100: #9287ac;
  --mood-teal-100: #83aca8;
  --mood-magenta-100: #db76a2;
  --mood-blue-100: #85abbb;
  --mood-forest-100: #749a8c;
  --mood-coral-100: #e98b7c;
  --mood-yellow-100: #dee08f; */
}
