.about {
  width: 100%;
  overflow: hidden;
}
.inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
  align-items: start;
  padding-bottom: 52px;
  border-bottom: 1px solid var(--neutral-900);
}
.content {
  grid-column: 1 / 8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.title {
  font-size: 46px;
  font-weight: 600;
  max-width: 780px;
}
.span {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 60px;
  max-width: 700px;
  font-size: 20px;
  font-weight: 600;
  max-width: 600px;
}
.image {
  grid-column: 8 / 13;
  width: 100%;
  align-self: flex-end;
}
.imageSrc {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
