@import "./styles/tokens.css";
body {
  margin: 0;
  /* font-family: var(--font-montserrat); */
  font-family: "Montserrat", sans-serif !important;
  color: var(--neutral-900);
  background-color: var(--neutral-100);
}
a {
  text-decoration: none;
  color: var(--neutral-900);
}
p, blockquote, h1, h2, h3 {
  margin: 0;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin-bottom: 120px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  flex: 1;
}