.intro {
  width: 100%;
  min-height: 860px;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:
    auto
    auto
    1fr
    auto;
  column-gap: 24px;
  row-gap: 40px;
  align-items: start;
}

.title {
  grid-column: 1 / -1;
  width: 100%;
  margin: 0 0 48px 0;

  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.9;

  color: var(--accent-red-100);
  opacity: 0.6;

  font-size: clamp(40px, 12vw, 160px);
}

.subtitle {
  grid-column: 5 / 12;
  grid-row: 2;
  font-size: 40px;
  font-weight: 600;
}
.span {
  grid-column: 1 / 4;
  grid-row: 2;
  font-size: 20px;
  font-weight: 600;
}
.image {
  grid-column: 1 / 5;
  grid-row: 5;
  max-width: 231px;
  height: 231px;
  width: 100%;
}
.imageSrc {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.ctaBox {
  grid-column: 5 / 11;
  grid-row: 5;

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: end;
}

.button {
  max-width: 272px;
  background: var(--neutral-900);
  color: var(--neutral-0);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-radius: 14px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 24px;
  transition: 0.4s ease;
}

.button:hover {
  opacity: 0.6;
}

.description {
  font-size: 24px;
}

@media (max-width: 768px) {
  .intro {
    padding: 60px 16px;
  }

  .subtitle {
    font-size: 24px;
  }

  .description {
    font-size: 16px;
  }
}
