.stack {
  width: 100%;
}
.title {
  margin: 0 0 96px 0;
  font-size: 46px;
  font-weight: 600;
}
.slide {
  width: 430px;
  box-sizing: border-box;
}
.swiper {
  box-sizing: border-box;
  padding-left: 8px;
  cursor: pointer;
}
.card {
  width: 100%;
  height: 388px;
  border-radius: 16px;
  filter: drop-shadow(4px 10px 8px rgba(0, 0, 0, 0.12));
  background: var(--neutral-100);
}
.cardInner {
  padding: 32px;
  display: grid;
  grid-template-rows: 124px 1fr;
  row-gap: 20px;
  height: 323px;
}
.head {
  display: flex;
  align-items: flex-start;
}
.subtitle {
  margin: 0;
  font-size: 32px;
  font-weight: 600px;
  color: var(--accent-red-100);
}
.description {
  font-size: 20px;
  font-weight: 400;
}

:global(.swiper-pagination) {
  position: static;
  margin-top: 16px;
}

:global(.swiper-pagination-bullet) {
  width: 12px;
  height: 12px;
}
:global(.swiper-pagination-bullet-active) {
  background: var(--accent-red-100);
}